<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baze Podataka - Projekat</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Broj polozenih ispita</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(result => { %>
                <tr>
                    <td><%= result.imeStudenta %></td>
                    <td><%= result.prezimeStudenta %></td>
                    <td><%= result.broj_polozenih_ispita %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>